<div class="container">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4" id="head">
			<h1><b>SearchPets!</b></h1>
			<div class="row">
				<div class="col-lg-10 search">
					<input type="textbox" class="form-control" id="search_box"  name="search" placeholder="Find your Petition!" ng-model="searchVal">
				</div><!-- End of col-lg-8 -->
				<div class="col-lg-2 search">
					<button class="btn btn-primary" id="search_button" ng-click="search()">Search</button>
				</div><!-- End of col-lg-4 -->
			</div><!-- End of row -->
		</div><!-- End of col-lg-4 -->
	</div><!-- End of Row -->
</div><!-- End of Container -->